<div class="modal fade" id="loginForm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login Form</h4>
            </div>
            <div class="modal-body login-modal">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <a class="btn btn-large btn-block social-login-btn login-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i>&nbsp; Login with Facebook</a>
                        <br/>
                        <a class="btn btn-large btn-block social-login-btn login-google" href="/auth/google"><i class="fa fa-google-plus"></i>&nbsp; Login with Google+</a>
                        <div class="form-divide"><span style="background-color:#fff;">OR LOGIN WITH EMAIL</span></div>
                    </div>
                </div>
                <br>
                <form class="form-inline clearfix" id="form-login" ng-submit="login(login.email, login.password)">
                    <div class="row">
                        <p ng-if="loginFailed" id="login-failed">{{loginFailed}}</p>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="input-small form-control" placeholder="Email" ng-model="login.email">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <input type="password" class="input-small form-control" placeholder="Password" ng-model="login.password">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                    </div>
                    
                </form>
                <br>
            </div>
            <div class="modal-footer">
                <a href="#" class="pull-left">Forgot your password?</a>
                <a href="#/register" class="pull-right" ng-click="registerFromModal()">Don't have an account yet? Register.</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->