<div class="modal fade" id="cropImgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crop Img</h4>
            </div>
            <div class="modal-body login-modal">


                <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" style="background: #E4E4E4; overflow: hidden; width:500px; height:350px; margin: 0 auto;">
                    <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                </div>
                <div>
                    <img ng-src="{{croppedDataUrl}}" />
                </div>





            </div>
            <div class="modal-footer">
                <button  class="pull-right" ng-click="upload(croppedDataUrl, picFile.name)">Submit</button> 
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->