<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Registration</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="registration-page" >
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <a class="btn btn-large btn-block social-login-btn login-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i>&nbsp; Sign up with Facebook</a>
                <br/>
                <a class="btn btn-large btn-block social-login-btn login-google" href="/auth/google"><i class="fa fa-google-plus"></i>&nbsp; Sign up with Google+</a>
                <div class="form-divide"><span>OR REGISTER WITH EMAIL</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <p id="register-error" ng-if="registerError">{{registerError}}</p>
                
            </div>
        </div>
        <form ng-submit="register()"> 
            <div class="row form-group">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <label>Email</label>
                    <input type="text" class="form-control" required="required" ng-model="user.email">
                    
                    <label>Username/Displayname</label>
                    <input type="text" class="form-control" required="required" ng-model="user.username">
                    
                    <label>Password</label>
                    <input type="password" class="form-control" required="required" ng-model="user.password">
                    

                    <br>
                    <button type="submit" class="btn btn-primary btn-large pull-right">Register</button>

                </div>
            </div>
        </form>
        
    </section>    
</div>

<!-- /#registration-page -->