<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Account</h1>
            </div>
            
        </div>
    </div>
</section>

<div class="container">
    <section id="registration-page" >
        <div class="row form-group">
            <form ng-submit="updateAccount()"> 
                
                    <div class="col-xs-12 col-sm-5">
                        <label>Display name</label>
                        <div>Identifies you to the general public.  It can be a handle or nickname.</div>
                        <input type="text" class="form-control" ng-model="user.name">
                        <label for="email">Email</label>
                        <div>This is not shared publicly.</div>
                        <input type="text" class="form-control" required="required" ng-model="user.email">
                        <br>
                        
                        <button type="submit" class="btn btn-primary btn-large pull-right">Update</button>

                    </div>
            </form>

            <form ng-submit="updatePassword()"> 
                    <div class="col-xs-12 col-sm-5  col-sm-offset-1">
                        <label>Existing Password</label>
                        <input type="text" class="form-control" required="required" ng-model="userPasswords.oldPassword">
                        <label>New Password</label>
                        <input type="text" class="form-control" required="required" ng-model="userPasswords.newPassword">
                        <label for="email">Confirm Password</label>
                        <input type="text" class="form-control" required="required" ng-model="confirmPassword">
                        <br>
                        
                        <button type="submit" class="btn btn-primary btn-large pull-right">Update</button>
                    </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <div ng-if="authenticatedUser.local.email">
                        <p>
                            <strong>id</strong>: {{authenticatedUser._id}}<br>
                            <strong>email</strong>: {{ authenticatedUser.local.email }} <br>
                            <strong>password</strong>: {{ authenticatedUser.local.password }}
                        </p>
                        
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    </div>
                    <a ng-if="!authenticatedUser.local.email" href="/connect/local" class="btn btn-default">Connect Local</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-facebook"></span> Facebook</h3>

                    <div ng-if="authenticatedUser.facebook.token">
                        <p>
                            <strong>id</strong>: {{authenticatedUser.facebook.id}}<br>
                            <strong>token</strong>: {{authenticatedUser.facebook.token}}<br>
                            <strong>email</strong>: {{ authenticatedUser.facebook.email }} <br>
                            <strong>name</strong>: {{ authenticatedUser.facebook.name }}
                        </p>
                        
                        <a href="/unlink/facebook" class="btn btn-default">Unlink</a>
                    </div>
                    <a ng-if="!authenticatedUser.facebook.token" href="/connect/facebook" class="btn btn-default">Connect Facebook</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-facebook"></span> Twitter</h3>

                    <div ng-if="authenticatedUser.twitter.token">
                        <p>
                            <strong>id</strong>: {{authenticatedUser.twitter.id}}<br>
                            <strong>token</strong>: {{authenticatedUser.twitter.token}}<br>
                            <strong>display name</strong>: {{ authenticatedUser.twitter.displayName }} <br>
                            <strong>name</strong>: {{ authenticatedUser.twitter.name }}
                        </p>
                        
                        <a href="/unlink/twitter" class="btn btn-default">Unlink</a>
                    </div>
                    <a ng-if="!authenticatedUser.twitter.token" href="/connect/twitter" class="btn btn-default">Connect Twitter</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-facebook"></span> Google+</h3>

                    <div ng-if="authenticatedUser.google.token">
                        <p>
                            <strong>id</strong>: {{authenticatedUser.google.id}}  <br>
                            <strong>token</strong>: {{authenticatedUser.google.token}}  <br>
                            <strong>email</strong>: {{ authenticatedUser.google.email}}  <br>
                            <strong>name</strong>: {{ authenticatedUser.google.name}} 
                        </p>
                        
                        <a href="/unlink/google" class="btn btn-default">Unlink</a>
                    </div>
                    <a ng-if="!authenticatedUser.google.token" href="/connect/google" class="btn btn-default">Connect Google</a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /#registration-page -->