<div class="modal fade" id="cropImgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crop Image</h4>
            </div>
            <div class="modal-body login-modal" style="width:598px !important">

                <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" >
                    <img-crop  image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square"></img-crop>
                </div>
                <br>
                <div>
                    <img id="cropped-result" ng-src="{{croppedDataUrl}}" />
                </div>

            </div>
            <div class="modal-footer">
                <button  class="pull-left btn btn-secondary" data-dismiss="modal">Cancel</button> 

                <button  class="pull-right btn btn-primary" ng-click="upload(croppedDataUrl, picFile.name)">Submit</button> 
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->