
    <form name="userUpdateForm" ng-submit="userUpdate()" novalidate=""> 
        <label>User Name:</label>
        <input type="text" class="form-control" required="required" ng-model="authenticatedUser.username" novalidate>
        <br/>
        <h4 class="topic-separator">Optional</h4>
        
        <label class="ng-binding">Education level</label>
        <select ng-model="profile.education" class="input-block-level" ng-options="str for str in educationOptions">
            <option value="">-Select-</option>
            
        </select>
        
        <label for="militaryBranch" >What branch of the military where you in?</label>
        <select class="input-block-level" ng-model="profile.militaryBranch">
            <option value="">-Select-</option>
            <option value="airForce">Air Force</option>
            <option value="army">Army</option>
            <option value="coastGaurd">Coast Gaurd</option>
            <option value="marines">Marines</option>
            <option value="navy">Navy</option>
        </select>

        <label for="militaryRank">What was your rank{{profile.militaryBranch | rankBranch}}?</label>
        <ui-select ng-model="profile.militaryRank" theme="select2" ng-disabled="disabled">
            <ui-select-match placeholder="-Select-"><img id="ui-select-match-photo" ng-src="{{ $select.selected.url }}" />{{$select.selected.rank}}</ui-select-match>
            <ui-select-choices repeat="rank in rank_list | rankFilter: {rank: $select.search, level: $select.search}"">
              <div ng-bind-html="rank.level" style="display: inline"></div>
              <img ng-src="{{ rank.url }}" />
              <div ng-bind-html="rank.rank" style="display: inline"></div>
            </ui-select-choices>
          </ui-select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-large pull-right">Save</button>
    </form>