
    <form name="userUpdateForm" ng-submit="userUpdate()" novalidate=""> 
        <label>User Name:</label>
        <input type="text" class="form-control" required="required" ng-model="authenticatedUser.username" novalidate>
        <br/>
        <h4 class="topic-separator">Optional</h4>
        
        <label class="ng-binding">Education level</label>
        <select ng-model="userProfile[field.member]" class="input-block-level" ng-options="str for str in educationOptions">
            <option value="">-Select-</option>
            
        </select>
        
        <label for="militaryBranch" >What branch of the military where you in?</label>
        <select class="input-block-level" ng-model="militaryBranch">
            <option value="">-Select-</option>
            <option value="Air Force">Air Force</option>
            <option value="Army">Army</option>
            <option value="Cost Gaurd">Coast Gaurd</option>
            <option value="Marines">Marines</option>
            <option value="Navy">Navy</option>
        </select>

        <label for="militaryRank">What was your rank{{militaryBranch | rankBranch}}?</label>
        <select class="input-block-level">
            <option value="">-Select-</option>
            
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-large pull-right">Save</button>
    </form>
