<section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Question</h1>
                </div>
                
            </div>
        </div>
    </section>

<div class="container">
    <section id="question">
        <div class="row">
            <div class="col-xs-12 ">
                
                <h1 class="no-margin-top">{{postTitle}}</h1>

                <div class="tidbit" ng-repeat="tidbit in tidbits">
                    <div class="pull-left img-wrap" ng-style="{fill: tidbit.fill}">
                        <img class="avatar" ng-src="{{tidbit.ownerPhotoUrl || '/images/avatar.png'}}" alt="">
                    </div>
                    <div class="media-body">
                        <strong>Posted by <a href="#">{{tidbit.ownerHandle}}</a></strong><br>
                        <small>{{tidbit.updated | timeToWords}}</small><br>
                    </div>

                    <p>{{tidbit.content}}</p>
                    <hr class="comment-breaker" ng-if="commentsByTidbit[tidbit._id].length">
                    <question-comments tidbitId="{{tidbit.id}}"></question-comments>

                </div>

                    <post-answer></post-answer>

            </div>
        </div>
    </section>
</div>

